<h2>Customers</h2>
<div ng-if="!loading && !customers.length"><h5>There is no customers</h5></div>
<table class="table" ng-if="!loading && customers.length">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="customer in customers">
      <td>{{customer.name}}</td>
      <td>{{customer.address}}</td>
      <td>{{customer.phone}}</td>
    </tr>
  </tbody>
</table>
