<h2>Invoices&nbsp;<button ng-click="openModal()" class="btn btn-success">Create new</button></h2>
<div ng-if="!loading && !invoices.length"><h5>There is no invoices</h5></div>
<table class="table table-hover" ng-if="!loading && invoices.length">
  <thead>
    <tr>
      <th>ID</th>
      <th>Customer</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="i in invoices" ng-click="goToInvoice(i.id)">
      <td>#{{i.id}}</td>
      <td>{{customersMap[i.customer_id].name}}</td>
      <td>${{i.total}}</td>
    </tr>
  </tbody>
</table>

<div ng-class="{in: showModal}" class="modal fade" tabindex="-1" role="dialog" ng-style="{display: showModal ? 'block' : 'none'}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button  ng-click="closeModal()" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Create invoice <span ng-if="modal.products.length" style="color:grey;">(Total: ${{modal.total | number:2}})</span></h4>
      </div>
      <form name="createForm">
        <div class="modal-body">
            <div class="form-group">
              <label class="form-label" for="customer">Customer</label>
              <select required id="customer" ng-model="modal.customer" name="customer" class="form-control col-md-12" >
                <option ng-repeat="c in customers" value="{{c.id}}">{{c.name}}</option>
              </select>
            </div>
            <hr/>
            <div class="form-group">
              <label class="form-label">Products</label>
              <table class="table" ng-if="modal.products.length">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="p in modal.products">
                    <td>{{productsMap[p.id].name}}</td>
                    <td>${{productsMap[p.id].price}}</td>
                    <td>{{p.quantity}}</td>
                    <td><button ng-click="removeProduct($index)" class="btn btn-xs btn-default">Remove</button>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="form-group" style="padding-bottom: 15px;">
              <div class="col-md-8">
                <select id="product" ng-model="modal.product" name="product" class="form-control">
                  <option ng-repeat="p in products" value="{{p.id}}">{{p.name}} (${{p.price}})</option>
                </select>
              </div>
              <div class="col-md-2">
                <input class="form-control" type="number" min="1" ng-model="modal.quantity" />
              </div>
              <div class="col-md-2">
                <button class="btn btn-success form-control" ng-disabled="!modal.product" ng-click="addProduct()">Add</button>
              </div>
            </div>
        </div>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="closeModal()">Close</button>
        <button type="button" ng-disabled="createForm.$invalid" ng-click="createInvoice()" class="btn btn-primary">Create</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
