<h2>Invoice&nbsp;#{{invoice.id}}</h2>
<div class="card">
  <div class="card-block">
    <blockquote class="card-blockquote">
      <p><b>{{customersMap[invoice.customer_id].name}}</b></p>
      <p>Phone: {{customersMap[invoice.customer_id].phone}}</p>
    </blockquote>
  </div>
</div>
<table class="table" ng-if="items.length">
  <thead>
    <tr>
      <th>Product</th>
      <th>Price</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="p in items">
      <td>{{productsMap[p.product_id].name}}</td>
      <td>${{productsMap[p.product_id].price}}</td>
      <td>{{p.quantity}}</td>
    </tr>
  </tbody>
</table>
<h3>
  Total: ${{invoice.total}}
</h3>
