<h2>Products</h2>
<div ng-if="!loading && !products.length"><h5>There is no products</h5></div>
<table class="table" ng-if="!loading && products.length">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="product in products">
      <td>{{product.name}}</td>
      <td>${{product.price}}</td>
    </tr>
  </tbody>
</table>
