<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/app.css">
    <style>
    .table.table-hover tr {
      cursor: pointer;
    }
    </style>
  </head>
  <body ng-app="App" ng-controller="AppCtrl">

    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" ng-href="/">Invoice App</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li ng-class="{active: page == 'products'}"><a ng-href="products" >Products</a></li>
            <li ng-class="{active: page == 'customers'}"><a ng-href="customers">Customers</a></li>
            <li ng-class="{active: page == 'invoices'}"><a ng-href="invoices">Invoices</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      hello:{{page}}
      <div ng-view></div>
    </div> <!-- /container -->
    <script type="text/javascript" src="/js/lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="/js/lib/angular/angular-route.js"></script>
    <script type="text/javascript" src="/js/lib/angular/angular-resource.js"></script>
    <script type="text/javascript" src="/js/lib/angular/ui-bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/app/main.js"></script>
    <script type="text/javascript" src="/js/app/services/entities.res.js"></script>
    <script type="text/javascript" src="/js/app/controllers/index.ctrl.js"></script>
    <script type="text/javascript" src="/js/app/controllers/invoices.ctrl.js"></script>
    <script type="text/javascript" src="/js/app/controllers/invoice.ctrl.js"></script>
    <script type="text/javascript" src="/js/app/controllers/customers.ctrl.js"></script>
    <script type="text/javascript" src="/js/app/controllers/products.ctrl.js"></script>
    <script type="text/javascript" src="/js/lib/jquery/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
